NEXT_PUBLIC_SUPABASE_URL=https://wgsvzhhzsmioihjwcwcs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Xs4B8IKWSWHVOo7B9mV63A_eSEfkZr-
NEXT_PUBLIC_APP_URL=https://holistique-books.com
CINETPAY_API_KEY=2088055227669ba47a8c8cd9.10246633
CINETPAY_SITE_ID=105907636
CINETPAY_SECRET_KEY=205494197269b69a692bd652.85723583
CINETPAY_BASE_URL=https://api-checkout.cinetpay.com/v2
EASYPAY_PUBLISHABLE_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE3NzM4NTAxOTAsImp0aSI6Ikl0MUVja2JMbUw1cExPckxIS3BxV2pGNytjZUlcL2NPalpZZmcyVWZYRW9vPSIsImlzcyI6ImVDb21TQVMtU2VjdXJlZFNlcnZlciIsIm5iZiI6MTc3Mzg1MDIwMCwiZXhwIjoxNzczODU3NDAwLCJkYXRhIjp7InVzZXJJZCI6MTg0MDB9fQ.dbfNkGFWqydTnTeVfH8KYGdQMiyjOjiNW8lkn3QQ5rA
EASYPAY_CORRELATION_ID=Y05BeXZ4MEk0NThOM2c0NFA3aW9hclhiL2VyQWdkKzB2SklqZjNIYkNGMGhLV0hLSnJmVDZTdz0=
EASYPAY_MODE=v1
EASYPAY_BASE_URL=https://www.e-com-easypay.com
APP_BASE_URL=https://holistique-books.com
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indnc3Z6aGh6c21pb2loandjd2NzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mjk3NDgwNCwiZXhwIjoyMDg4NTUwODA0fQ.uOdfFfhzn_voKFDiMldF9wBTXlfWP-nmw-fMY66NhsI
# ADMIN_NOTIFY_EMAIL=your-admin@email.com
# SUPABASE_DB_WEBHOOK_SECRET=choose-a-long-random-secret
